{% extends 'base.html.twig' %}
{% block body %}

    <section class="about" id="about">
        <div class="about-text" data-aos="fade-up">
            <h2>About</h2>
            <p>
                Hello and welcome! I'm Rob Blackburn, a Web & CRM Developer with 7+ years experience in this role and
                a further 15+ years experience in the iGaming industry. I bring passion, dedication and commitment to
                all aspects of the work and projects I'm involved in and aim to produce high quality, comprehensive
                solutions.
                <br><br>
                I have extensive experience with several CRM platforms, including Adobe Campaign Classic and Adobe
                Campaign Standard. I have been involved in all aspects of CRM development including system configuration,
                developing automations for customer journeys, producing target groups and email templates. My time
                working in this industry has led me to work with notable iGaming companies such as Rank
                (Grosvenor Casinos & Mecca Bingo), Buzz Bingo, Lance Betting and Merkur.
                <br><br>
                I am continuously enhancing my web development skills, with hands-on experience and proficiency in PHP
                (Symfony framework), JavaScript (Vue.js), HTML, CSS, SQL, and more.
            </p>
        </div>
    </section>

{% endblock %}