<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Rob Blackburn - Web & CRM Developer{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

<header>
    <a href="#" class="logo">
        Welcome!
    </a>

    <ul class="nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
    </ul>

    <div class="right-nav">
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>

<section class="home" id="home">
    <div class="home-text" data-aos="zoom-in-up">
        <h1><span>Rob Blackburn</span> <br> Web & CRM Developer</h1>
        <ul class="count">
            <li><span>7+</span> Years of <br> experience</li>
            <li>
                <a href="https://www.linkedin.com/in/robert-blackburn-253981125/" target="_blank">
                    <span>
                        <i class='bx bxl-linkedin-square'></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://github.com/professorblackers" target="_blank">
                    <span>
                        <i class='bx bxl-github'></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="about" id="about">
    <div class="about-text" data-aos="fade-up">
        <h2>About Me</h2>
        <h4>A resourceful and dedicated <span>Web/CRM Developer</span></h4>
        <p>Hi! My name is Rob Blackburn. I am a Web/CRM developer, who brings passion, dedication and commitment to every aspect of my work. With 7+ years experience as a Web/CRM developer, I enjoy problem-solving and turning these problems into comprehensive solutions. My aim is to use my skills and resources to deliver user-friendly, scalable solutions across both areas of specialty.</p>
    </div>
</section>

<section class="services" id="services">
    <div class="middle-text" data-aos="fade-down">
        <h2>My Services</h2>
    </div>

    <div class="services-content" data-aos="zoom-in-up">
        <div class="col">
            <h3>01</h3>
            <h4>CRM</h4>
            <p>Creation of a full suite of automated customer lifecycle journeys to cover conversion, retention, churn prevention and reactivation. This includes configuration of the automation within your CRM platform and creation of emails.</p>
        </div>

        <div class="col">
            <h3>02</h3>
            <h4>CRM</h4>
            <p>Creation of tactical email marketing campaigns across different brands, products etc. This includes configuration of the target groups within your CRM platform and creation of emails and reusable email templates.</p>
        </div>

        <div class="col">
            <h3>03</h3>
            <h4>Web Development</h4>
            <p>Design and development of comprehensive web solutions tailored to meet your business objectives and enhance online presence. The service encompasses the entire spectrum of web development across both front and back end.</p>
        </div>

    </div>
</section>

<script src="{{ asset('/assets/js/script.js') }}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 250,
        duration: 1400,
    });
</script>

</body>
</html>