{% extends 'base.html.twig' %}
{% block body %}

<section class="home" id="home">
    <div class="home-text" data-aos="zoom-in-up">
        <h1><span>Rob Blackburn</span> <br> Web & CRM Developer</h1>
        <ul class="count">
            <li><span>7+</span> Years of <br> experience</li>
            <li>
                <a href="https://www.linkedin.com/in/robert-blackburn-253981125/" target="_blank">
                    <i class='bx bxl-linkedin-square' style="font-size: 50px; color: white"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/professorblackers" target="_blank">
                    <i class='bx bxl-github' style="font-size: 50px; color: white"></i>
                </a>
            </li>
        </ul>
    </div>
</section>

{% endblock %}