{% extends 'base.html.twig' %}
{% block body %}

    <section class="services" id="services">
        <div class="middle-text" data-aos="fade-down">
            <h2>Portfolio</h2>
        </div>
        <div class="services-content" data-aos="zoom-in-up">
            <div class="col">
                <a href="https://therugbyhighlights.com" target="_blank">
                    <h3>The Rugby Highlights</h3>
                </a>
                <p>
                    The Rugby Highlights offers spoiler-free highlights of rugby matches from both club and
                    international competitions. It covers major rugby leagues and competitions, including the Six
                    Nations, The Rugby Championship and the United Rugby Championship.
                    The site features sections for the latest highlights, fixtures, and an archive for older matches.
                    The design emphasises providing updates without revealing the final scores, allowing fans to catch
                    up on matches at their convenience.
                </p>
                <a href="https://www.therugbyhighlights.com" target="_blank">
                    <i class='bx bx-link' style="font-size: 50px; color: white"></i>
                </a>
                <a href="https://github.com/professorblackers/therugbyhighlights" target="_blank">
                    <i class='bx bxl-github' style="font-size: 50px; color: white"></i>
                </a>
            </div>
            <div class="col">
                <h3>Japan Guide</h3>
                <p>
                    Japan Guide offers comprehensive travel information about Japan. It features articles on various
                    topics such as "Ten Things to Do in Osaka" and "Exploring the Hidden Gems of Japan", providing
                    readers with detailed information and guides. The site aims to provide visitors with insights and
                    recommendations for experiencing Japan, focusing on popular attractions as well as lesser-known
                    destinations. The website is made in collaboration with <a href="https://www.theflyawaygirl.com" target="_blank" style="color: white">TheFlyawayGirl</a>.
                </p>
                <a href="https://www.japanguide.robblackburn.website" target="_blank">
                    <i class='bx bx-link' style="font-size: 50px; color: white"></i>
                </a>
                <a href="https://github.com/professorblackers/japanguide" target="_blank">
                    <i class='bx bxl-github' style="font-size: 50px; color: white"></i>
                </a>
            </div>
        </div>
    </section>

{% endblock %}